USE [master]
GO
/****** Object:  Database [BANHANG]    Script Date: 03/13/2024 13:29:39 ******/
CREATE DATABASE [BANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANHANG]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [nchar](10) NOT NULL,
	[MaSP] [nchar](10) NOT NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](10) NOT NULL,
	[MaKH] [nchar](10) NULL,
	[MaNV] [nchar](10) NULL,
	[NgayLap] [date] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nchar](10) NOT NULL,
	[TenKH] [nvarchar](150) NULL,
	[SDT] [nchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](150) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[MaBaoMat] [nvarchar](max) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[HinhNen] [image] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nchar](10) NOT NULL,
	[TenSP] [nvarchar](150) NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [DonGia], [SoLuong]) VALUES (N'HD1001    ', N'SP001     ', 200000.0000, 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [ThanhTien]) VALUES (N'HD1001    ', N'KH6       ', N'NV1000    ', CAST(N'2024-02-14' AS Date), 200000.0000)
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH2       ', N'Anh', N'0373247855', N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH3       ', N'Anh', N'0373123456', N'HN')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH4       ', N'Anh', N'0123456789', N'HN')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [MatKhau], [MaBaoMat], [ChucVu], [HinhNen]) VALUES (N'NV1001    ', N'Anh', N'Nam', CAST(N'2000-02-14' AS Date), N'QL', N'12345', N'123456', N'Quản lý', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [MatKhau], [MaBaoMat], [ChucVu], [HinhNen]) VALUES (N'NV1002    ', N'An', N'Nam', CAST(N'2000-02-15' AS Date), N'TD', N'12345', N'123456', N'Nhân viên', NULL)
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuong]) VALUES (N'SP001     ', N'Áo thun nam', 200000.0000, 50)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuong]) VALUES (N'SP002     ', N'Quần jean', 300000.0000, 30)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuong]) VALUES (N'SP003     ', N'Giày sneaker unisex', 250000.0000, 20)
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_KhachHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_SanPham]
GO
/****** Object:  StoredProcedure [dbo].[changeAvatar]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[changeAvatar] (@MaNV nchar(10), @HinhNen image)
AS
	Update NhanVien
	Set HinhNen = @HinhNen
	Where MaNV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[changePassword]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[changePassword] (@MaNV nchar(10), @MatKhau nvarchar(MAX))
AS
	Update NhanVien 
	Set MatKhau = @MatKhau
	Where MaNV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[changeSecurityCode]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[changeSecurityCode] (@MaBaoMat nvarchar(MAX), @MaNV nchar(10), @MatKhau nvarchar(MAX))
AS
	Update NhanVien
	Set MaBaoMat = @MaBaoMat
	Where MaNV = @MaNV and MatKhau = @MatKhau
GO
/****** Object:  StoredProcedure [dbo].[CheckProductIsAlready]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[CheckProductIsAlready] (@maSP nchar(10))
AS
	BEGIN
	Select COUNT(*) from ChiTietHD where MaSP=@maSP
	END
GO
/****** Object:  StoredProcedure [dbo].[checkStaffExists]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[checkStaffExists] (@MaNV nchar(10))
AS
	Select* From NhanVien Where MaNV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[DeleteCustomer] (@maKH int)
AS
	BEGIN
	Delete from KhachHang where MaKH=@maKH
	END
GO
/****** Object:  StoredProcedure [dbo].[deleteEmployee]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[deleteEmployee] (@MaNV nchar(10))
AS
	BEGIN
		Delete From NhanVien Where MaNV = @MaNV
	END
GO
/****** Object:  StoredProcedure [dbo].[DeleteInvoice]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[DeleteInvoice] (@MaHD nchar(10))
AS
	Delete from HoaDon where MaHD = @MaHD
GO
/****** Object:  StoredProcedure [dbo].[deleteInvoiceDetail]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[deleteInvoiceDetail] (@MaHD nchar(10))
AS
	Delete From ChiTietHD where MaHD = @MaHD
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[DeleteProduct] (@maSP nchar(10))
AS
	BEGIN
	Delete From SanPham where MaSP=@maSP
	END
GO
/****** Object:  StoredProcedure [dbo].[EditCustomer]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[EditCustomer] (@maKH int, @tenKH nvarchar(150), @soDT nchar(10), @diaChi nvarchar(MAX))
AS
	BEGIN
	Update KhachHang set TenKH=@tenKH, SDT=@soDT, DiaChi=@diaChi where MaKH=@maKH
	END
GO
/****** Object:  StoredProcedure [dbo].[GetDataCustomer]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetDataCustomer]
AS 
	BEGIN
	Select* from KhachHang 
	END
GO
/****** Object:  StoredProcedure [dbo].[getUser]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[getUser] (@MaNV nvarchar(MAX), @MatKhau nvarchar(MAX))
AS
	Select* From NhanVien 
	Where MaNV = @MaNV and MatKhau = @MatKhau
GO
/****** Object:  StoredProcedure [dbo].[InsertCustomer]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[InsertCustomer] (@maKH nchar(10), @tenKH nvarchar(150), @soDT nchar(10), @diaChi nvarchar(MAX))
AS
	BEGIN
	Insert into KhachHang(MaKH, TenKH, SDT, DiaChi)
	Values (@MaKH, @TenKH, @SoDT, @DiaChi)
	END
GO
/****** Object:  StoredProcedure [dbo].[insertEmployee]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[insertEmployee] (@MaNV nchar(10), @TenNV nvarchar(150), @GioiTinh nvarchar(3), @NgaySinh date, @DiaChi nvarchar(MAX), @MatKhau nvarchar(MAX), @MaBaoMat nvarchar(MAX), @ChucVu nvarchar(50))
AS
	BEGIN
		Insert into NhanVien(MaNV, TenNV, GioiTinh, NgaySinh, DiaChi, MatKhau, MaBaoMat, ChucVu)
		Values (@MaNV, @TenNV, @GioiTinh, @NgaySinh, @DiaChi, @MatKhau, @MaBaoMat, @ChucVu)
	END
GO
/****** Object:  StoredProcedure [dbo].[insertInvoice]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[insertInvoice] (@MaHD nchar(10), @MaKH nchar(10), @MaNV nchar(10), @NgayLap date, @ThanhTien money)
AS
	BEGIN
	Insert into HoaDon(MaHD, MaKH, MaNV, NgayLap, ThanhTien)
	Values (@MaHD, @MaKH, @MaNV, @NgayLap, @ThanhTien)
	END
GO
/****** Object:  StoredProcedure [dbo].[insertInvoiceDetail]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[insertInvoiceDetail] (@MaHD nchar(10), @MaSP nchar(10), @DonGia money, @SoLuong int)
AS
	BEGIN
	Insert into ChiTietHD(MaHD, MaSP, DonGia, SoLuong) values (@MaHD, @MaSP, @DonGia, @SoLuong)
	END
GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[InsertProduct] (@maSP nchar(10), @tenSP nvarchar(150), @donGia money, @soLuong int)
AS
	BEGIN
	Insert into SanPham(MaSP, TenSP, DonGia, SoLuong) values (@maSP, @tenSP, @donGia, @soLuong)
	END
GO
/****** Object:  StoredProcedure [dbo].[revenueStatistic]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[revenueStatistic] (@Date date)
AS
	BEGIN
	Select Month(NgayLap) as 'Thang', COUNT(*) as 'SoDonHang', SUM(ThanhTien) as 'DoanhThu'
	From HoaDon
	Where Year(NgayLap) = Year(@Date)
	Group by Month(NgayLap)

	Select Month(NgayLap) as 'Thang', COUNT(*) as 'SoDonHang', SUM(ThanhTien) as 'DoanhThu'
	From HoaDon
	Where Year(NgayLap) = Year(@Date) - 1
	Group by Month(NgayLap)
	END
GO
/****** Object:  StoredProcedure [dbo].[searchByNameProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[searchByNameProduct] (@tenSP nvarchar(150))
AS
	BEGIN
	Select* from SanPham where TenSP like @tenSP
	END
GO
/****** Object:  StoredProcedure [dbo].[searchInvoiceByNameKH]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[searchInvoiceByNameKH] (@TenKH nvarchar(150))
AS
	BEGIN
	Select hd.MaHD, kh.MaKH, kh.TenKH, kh.DiaChi, kh.SDT, nv.TenNV, hd.NgayLap, hd.ThanhTien
	From HoaDon hd
	join KhachHang kh ON hd.MaKH = kh.MaKH
	join NhanVien nv ON hd.MaNV = nv.MaNV
	Where kh.TenKH LIKE @TenKH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SearchMaSP]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SearchMaSP] (@maSP nchar(10))
AS
	BEGIN
	Select* from SanPham where MaSP=@maSP
	END
GO
/****** Object:  StoredProcedure [dbo].[SelectAllProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[SelectAllProduct] 
AS
	BEGIN
	Select* from SanPham
	END
GO
/****** Object:  StoredProcedure [dbo].[ShowDetailProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[ShowDetailProduct] (@maSP nchar(10))
AS
	BEGIN
	Select* from SanPham where MaSP=@maSP
	END
GO
/****** Object:  StoredProcedure [dbo].[showEmployee]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[showEmployee]
AS
	Select* from NhanVien
GO
/****** Object:  StoredProcedure [dbo].[showInvoice]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[showInvoice] 
AS
	BEGIN
	Select hd.MaHD, kh.MaKH, kh.TenKH, kh.DiaChi, kh.SDT, nv.TenNV, hd.NgayLap, hd.ThanhTien
	From HoaDon hd
	Join KhachHang kh on hd.MaKH = kh.MaKH
	Join NhanVien nv on hd.MaNV = nv.MaNV
	END
GO
/****** Object:  StoredProcedure [dbo].[showInvoiceDetail]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[showInvoiceDetail] (@MaHD nchar(10))
AS
	BEGIN
	Select cthd.DonGia, cthd.SoLuong, hd.MaHD, hd.NgayLap, kh.TenKH, kh.SDT, kh.DiaChi, nv.TenNV, sp.TenSP
	From ChiTietHD cthd
	Join SanPham sp on cthd.MaSP = sp.MaSP
	Join HoaDon hd on cthd.MaHD = hd.MaHD
	Join KhachHang kh on hd.MaKH = kh.MaKH
	Join NhanVien nv on nv.MaNV = hd.MaNV
	Where cthd.MaHD = @MaHD
	END
GO
/****** Object:  StoredProcedure [dbo].[sumOfInvoice]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[sumOfInvoice]
AS
	BEGIN
	Select Count(*) 
	From HoaDon
	END
GO
/****** Object:  StoredProcedure [dbo].[sumOfProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[sumOfProduct] 
AS
	BEGIN
	Select Count(*)
	From SanPham
	END
GO
/****** Object:  StoredProcedure [dbo].[updateEmployee]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[updateEmployee] (@MaNV nchar(10), @TenNV nvarchar(150), @GioiTinh nvarchar(3), @NgaySinh date, @DiaChi nvarchar(MAX), @MatKhau nvarchar(MAX), @ChucVu nvarchar(50))
AS
	BEGIN
		Update NhanVien
		Set TenNV = @TenNV, GioiTinh = @GioiTinh, NgaySinh = @NgaySinh, DiaChi = @DiaChi, MatKhau = @MatKhau, ChucVu = @ChucVu
		Where MaNV = @MaNV
	END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 03/13/2024 13:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[UpdateProduct] (@maSP nchar(10), @tenSP nvarchar(150), @donGia money, @soLuong int)
AS
	BEGIN
	Update SanPham Set TenSP=@tenSP, DonGia=@donGia, SoLuong=@soLuong where MaSP=@maSP
	END
GO
USE [master]
GO
